*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h3{
  font-family: 'Satoshi-Regular';
}
@font-face {
  font-family: "Satoshi-Regular";   /*Can be any text*/
  src: local("Satoshi-Regular"),
    url("../src/Fonts/Satoshi-Regular.ttf") format("truetype");
}
